<div>
  <app-add-challenge *ngIf="role==='admin'"(challengeAdded)="getAllChallenges()"></app-add-challenge>
  <h1>Challenges</h1>
  <div *ngIf="currentPageView.length>0">
    <label for="sortBy">Sort By</label>
    <select id="sortBy" [(ngModel)]="sortBy" (ngModelChange)="sortChallenges()">
      <option value="creationDate">Creation Date</option>
      <option value="upvotes">Upvotes</option>
    </select>
    <label for="ascending">Ascending
      <fa-icon [icon]="faSortUpSolid" size="lg" [styles]="ascending?{ 'color':'orange' }:{ 'color':'lightgray' }"></fa-icon>
      <input id="ascending"type="checkbox" [(ngModel)]="ascending" (ngModelChange)="sortChallenges()" [hidden]="true">
    </label>
    <app-paginator [pageSizes]="pageSizes" [currentPageSize]="currentPageSize" [dataSize]="challenges.length" (onPageChanged)="pageChanged($event)" (onPageSizeChanged)="pageSizeChanged($event)"></app-paginator>
  </div>
  <br>
  <hr>
  <div *ngFor="let challenge of currentPageView; let i=index" class="challenge">
    <details>
      <summary>
        <h2>{{challenge.title}}</h2>
        <div *ngFor="let tag of challenge.tags" class="tag float-right">
          <span>{{tag}}</span>
        </div>
      </summary>      
      <p>{{challenge.description}}</p>  
    </details>
    <div>
      <label>        
        <fa-icon [icon]="challenge.upvoters.includes(employeeId)?faThumbsUpSolid:faThumbsUpRegular" size="lg" [styles]="{ 'color': 'orange' }"></fa-icon>
        <input type="checkbox" (click)="upvoteChallenge(challenge._id, $event.target.checked)" [ngModel]="challenge.upvoters.includes(employeeId)" [hidden]="true">
        <span [title]="challenge.upvoters.join('\n')">{{challenge.upvoters.length}}</span>
      </label>
      <span class="color-gray float-right">{{challenge.creationDate | date:'medium'}}</span>
    </div>
    <hr>
  </div>
</div>