<h1>Add Challenge</h1>
<div>
  <form [formGroup]="formGroup" (keydown.enter)="$event.preventDefault()" (ngSubmit)="addChallenge()">
    <label for="title">Title</label>
    <div>
      <input id="title" formControlName="title" type="text">
    </div>
    <label for="description">Description</label>
    <div>
      <textarea id="description" formControlName="description"></textarea>
    </div>
    <label>Tags</label>
    <div>
      <input placeholder="Hit enter to" type="text" (keyup.enter)="addTag($event)">
      <span *ngFor="let tag of formGroup.get('tags').value">{{tag}}</span>
    </div>
    <button type="submit" [disabled]="formGroup.invalid">Add Challange</button>
  </form>
</div>